<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}

        <p>{{upperCase message}}</p>

        {{> footer}}

    </body>
</html>